.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img {
    width: 100px;
    height: auto;
    border: 1px solid #ddd;
    padding: 0.5 em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 5%;
}

footer {
    background-color: #ccc;
    color: #333;
    clear: both;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}