
<<<<<<< HEAD:style.css
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


p {
    font-family: "DM Sans", sans-serif;
}
=======
/*style{
    font-family: "DM Sans", sans-serif;
}*/
>>>>>>> fe403e97ba50744cdfe7cda2aec59b452a939808:raiz.css/home.css


.acoordion-button:not(.collapsed) {
    background-color: rosybrown;
    color: black;
    font-weight: 900;
}

body {  
    font-family: Arial, sans-serif;  
    line-height: 1.6;  
    margin: 20px;  
}  
h1, h2 {  
    color:brown;  
}  
p {  
    margin-bottom: 10px;  
} 


footer {
    background-color: #ccc;
    color: #333;
    clear: both;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}